<%- title 'Articles' -%>

<%= link_to 'New Article', new_article_path %>

<% @articles.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.content %></p>
  <p><%= article.author %></p>
  <p><%= article.category.name %></p>
  <p><%= link_to 'Delete', article, :method => :delete %>
     <%= link_to 'Edit', edit_article_path(article) %></p>
<% end %>
